@font-face {
    font-family: "BebasNeueCyrillic";
    src: url('../fonts/Bebas\ Neue\ Cyrillic.ttf') foramt('truetype'); 
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "FuturaDemi";
    src: url('../fonts/FTR65.otf') foramt('opentype'); 
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: "FuturaMedium";
    src: url('../fonts/FTR55.otf') foramt('opentype'); 
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Kucheryavy";
    src: url('../fonts/Kucheryavy.ttf') foramt('truetype'); 
    font-weight: 400;
    font-style: normal;
}