@font-face {
    font-family: "Bebas Neue Cyrillic";
    src: url('../fonts/Bebas\ Neue\ Cyrillic.ttf') foramt('truetype'); 
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Futura Demi";
    src: url('../fonts/FTR65.otf') foramt('truetype'); 
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: "Futura Medium";
    src: url('../fonts/FTR55.otf') foramt('truetype'); 
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Kucheryavy";
    src: url('../fonts/Kucheryavy.ttf') foramt('truetype'); 
    font-weight: 400;
    font-style: normal;
}