@font-face {
    font-family: "BebasNeueCyrillic";
    src: url('../fonts/BebasNeueCyrillic.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "FuturaDemi";
    src: url('../fonts/FTR65.otf') format('opentype'); 
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: "FuturaMedium";
    src: url('../fonts/FTR55.otf') format('opentype'); 
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "geometria_bold";
    src: url('../fonts/geometria_bold.otf') format('opentype'); 
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: "Kucheryavy";
    src: url('../fonts/Kucheryavy.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}