@import url('reset.css');
@import url('fonts.css');
h1{
    font-family: 'Kucheryavy';
    font-size: 112px;;
}
h2{
    font-family: "BebasNeueCyrillic";
    font-size: 96px;
}
h3{
    font-family: "FuturaDemi";
    font-size: 220px;
}
h4{
    font-family: "FuturaMedium";
    font-size: 80px;
}