@import url('reset.css');
@import url('fonts.css');
body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    gap: 10px;
    overflow-x: hidden;
}
section{
    width: 100vw;
}
div{
    border-radius: 24px;
    border: 21px solid;
}
/* img{
    max-width: 60%;
    height: auto;
} */
/* p
{
    font-family: "geometria_bold";
    font-size: 7vw;
    color: #FCEFD6;
} */
.row{
    border-radius: 0;
    border: 0;
    display: flex;
    flex-direction: row;
}
.column{
    border-radius: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}
.font-geometria{
    font-family: "geometria_bold";
    /* align-items: center; */
}
.the-first-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.masks{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 26vw;
    height: 36vw;
    background-color: #E5C441;
    border-color: #761614;
    img{
        height: 32vw;
        width: auto;
    }
    p{
        font-size: 6vw;
        color: #761614;
        animation: theater-text 2s linear infinite;
    }
}
.staging{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 74vw;
    height: 17vw;
    background-color: #28160A;
    border-color: #E73928;
    img{
        height: 5vw;
        width: auto;
    }
    div{
        display: flex;
        align-items: center;
    }
    h2{
        color: #FCEFD6;
        font-family: "geometria_bold";
        font-size: 7vw;
        animation: theater-text 500ms linear infinite;
    }
    p{
        color: #E73928;
        font-family: "Kucheryavy";
        font-size: 4vw;
        /* animation: theater-text 300ms linear infinite; */
    }
}
.leftArrow{
    position: absolute;
    bottom: 16px;
    left: 20px;
    rotate: 50deg;
    animation: left-arrow-rotate 1500ms linear infinite;
}
.rightArrow{
    position: absolute;
    bottom: 16px;
    right: 20px;
    rotate: -50deg;
    animation: right-arrow-rotate 1500ms linear infinite;
}
.paint{
    width: 38vw;
    height: 19vw;
    background-color: #2A3596;
    border-color: #FCEFD6;
}
.tape{
    width: 36vw;
    height: 19vw;
    background-color: #E73928;
    border: 16px solid;
    border-color: #E5C441;
}
.circle{
    display: flex;
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    border: 0;
    align-items: center;
    justify-content: center;
    img{
        max-width: 60%;
        height: auto;
    }
}
.the-second-section{
    display: flex;
    flex-direction: row;
}
.jump-circle{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 25vw;
    height: 60vw;
    padding: 20px
}
.ellipse{
    height: 18%;
    width: auto;
}
.circle-jump{
    height: 25%;
    width: auto;
    margin-bottom: -25%;
    z-index: 4;
}
.the-third-section{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 50vw;
}
.card{
    width: 50vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card-paint{
    width: 100%;
    height: 100%;
    border: 0;
}
.card-row{
    display: flex;
    flex-direction: row;
    border: 0;
    height: 50%;
    width: 100%;
    gap: 12px;
}
.card-paint-border{
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-width: 60%;
        height: auto;
        animation: masks-rotate 5s linear infinite;
        transition: all 2s ease;
    }
}
.last-section{
    height: 266px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
    overflow: hidden;
    padding: 11px 0;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #E5C441;
    div{
        border: 0;
    }
}
.tape-row{
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow: hidden;
    width: 2700px;
    position: absolute;
    left: -197px;
    top: 35px;
    div{
        border-radius: 24px;
        height: 196px;
        width: 196px;
        background-color: #761614;
    }
    animation: right-scroll 1s linear infinite;
    transition: all 2s ease;
}
.square-row{
    display: flex;
    flex-direction: row;
    gap: 9px;
    overflow: hidden;
    width: 2100px;
    div{
        border-radius: 20%;
        height: 16px;
        width: 16px;
        background-color: #761614;
    }
    animation: left-scroll 500ms linear infinite;
    transition: all 2s ease;
}
.the-fourth-section{
    width: 100vw;
    height: 50vw;
    display: flex;
    flex-direction: row;
    gap: 14px;
    position: relative;
    overflow: hidden;
}
.mobile{
    display: flex;
    flex-direction: row;
    border: 0;
    }
#circle-orange{
    background-color: #E73928;
    animation: mask-rotate 5s linear infinite;
}
#circle-brown-first{
    background-color: #28160A;
    animation: first-arrow-rotate 5s linear infinite;
}
#circle-brown-second{
    background-color: #28160A;
    animation: second-arrow-rotate 5s linear infinite;
}
#circle-blue-first{
    background-color: #2A3596;
    animation: third-arrow-rotate 5s linear infinite;
}
#circle-blue-second{
    background-color: #2A3596;
    animation: fourth-arrow-rotate 5s linear infinite;
}
#the-first-jump{
    border-color: #761614;
    background-color: #E5C441;
}
#the-second-jump{
    border-color: #FCEFD6;
    background-color: #761614;
}
#the-third-jump{
    border-color: #761614;
    background-color: #FCEFD6;
}
#the-fourth-jump{
    border-color: #FCEFD6;
    background-color: #E73928;
}
#card-brown-first{
    background-color: #28160A;
    border-color: #FCEFD6;
    height: 50vw;
    position: absolute;
    bottom: 0;
    right: 0;
}
#card-border-none-first{
    border: 0;
    animation: masks-scroll 5s linear infinite;
    transition: all 2s ease;
    position: absolute;
    bottom: 0;
}
#card-brown-second{
    background-color: #28160A;
    border-color: #FCEFD6;
    height: 50vw;
    position: absolute;
    bottom: 0;
}
#card-border-none-second{
    border: 0;
    animation: masks-scroll 5s linear infinite;
    transition: all 2s ease;
    position: absolute;
    bottom: 0;
    right: 0;
}
#paint-red{
    background-color: #761614;
}
#paint-yellow{
    background-color: #E5C441;
}
#paint-blue{
    background-color: #2A3596;
}
#paint-white{
    background-color: #FCEFD6;
}
#paint-orange{
    background-color: #E73928;
}
@keyframes left-arrow-rotate{
    0%{
        rotate: 50deg;
    }
    50%{
        rotate: 10deg;
    }
    100%{
        rotate: 50deg;
    }
}
@keyframes right-arrow-rotate{
    0%{
        rotate: -50deg;
    }
    50%{
        rotate: -10deg;
    }
    100%{
        rotate: -50deg;
    }
}
@keyframes masks-scroll {
    0%{
    transform: translateY(0%)
    }
    100%{
        transform: translateY(calc(50% + 12px))
    }
}
@keyframes left-scroll{
    0%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(calc(-2% - 9px))
    }
}
@keyframes right-scroll{
    0%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(calc(4% + 100px))
    }
}
@keyframes theater-text{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 7.5;
    }
    40%{
        opacity: 5;
    }
    60%{
        opacity: 2.5;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes mask-rotate {
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: 90deg;
    }
    45%{
        rotate: 180deg;
    }
    65%{
        rotate: 270deg;
    }
    90%{
        rotate: 360deg;
    }
    100%{
        rotate: 360deg;
    }
    
}
@keyframes first-arrow-rotate {
    66%{
        rotate: 0deg;
    }
    88%{
        rotate: -90deg;
    }
    94%{
        rotate: -90deg;
    }
    100%{
        rotate: 0deg;
    }
}
@keyframes third-arrow-rotate {
    44%{
        rotate: 0deg;
    }
    66%{
        rotate: -90deg;
    }
    94%{
        rotate: -90deg;
    }
    100%{
        rotate: 0deg;
    }
}
@keyframes second-arrow-rotate {
    22%{
        rotate: 0deg;
    }
    44%{
        rotate: -90deg;
    }
    94%{
        rotate: -90deg;
    }
    100%{
        rotate: 0deg;
    }
}
@keyframes fourth-arrow-rotate {
    0%{
        rotate: 0deg;
    }
    22%{
        rotate: -90deg;
    }
    94%{
        rotate: -90deg;
    }
    100%{
        rotate: 0deg;
    }
}
@keyframes masks-rotate {
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: 90deg;
    }
    50%{
        rotate: 180deg;
    }
    75%{
        rotate: 270deg;
    }
    100%{
        rotate: 360deg;
    }
}
#card-border-none:hover{
    animation-play-state: paused
}
.tape-row:hover{
    animation-play-state: paused
}
@media (max-width: 1024px) {
    body{
        gap: 8px;
    }
    div{
        border-radius: 16px;
        border: 17px solid;
    }
    .staging{
        width: 100vw;
        height: 25vw;
        img{
            height: 7vw;
            width: auto;
        }
        h2{
            font-size: 10vw;
        }
        p{
            font-size: 6vw;
        }
    }
    .masks{
        display: none;
    }
    .paint{
        width: 52vw;
        height: 24vw;
    }
    .tape{
        width: 48vw;
        height: 24vw;
        border: 12px solid;
        border-color: #E5C441;
    }
    .card-row{
        gap: 8px;
    }
    .the-third-section{
        gap: 8px;
    }
    .the-fourth-section{
        gap: 8px;
    }
    .card{
        gap: 8px;
    }
    .jump-circle{
        padding: 15px;
    }
}
@media (max-width: 440px) {
    body{
        gap: 6px;
    }
    div{
        border-radius: 10px;
        border: 12px solid;
    }
    .mobile{
        display: flex;
        flex-direction: row;
        gap: 6px;
        border: 0;
    }
    .staging{
        display: none;
    }
    .masks{
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 120vw;
        background-color: #E5C441;
        border-color: #761614;
        img{
            height: 110vw;
            width: auto;
        }
        p{
            font-size: 20vw;
            color: #761614;
            animation: theater-text 2s linear infinite;
        }
    }
    .paint{
        width: 100vw;
        height: 50vw;
    }
    .tape{
        width: 100vw;
        height: 50vw;
        border: 8px solid;
        border-color: #E5C441;
    }
    .card-row{
        gap: 6px;
    }
    .the-second-section{
        gap: 6px;
        flex-direction: column;
    }
    .jump-circle{
        width: 50vw;
        height: 100vw;
        padding: 9px;
    }
    .the-third-section{
        gap: 6px;
        flex-direction: column;
    }
    .the-fourth-section{
        gap: 6px;
        flex-direction: column-reverse;
    }
    .card{
        gap: 6px;
        width: 100vw;
        height: 100vw;
    }
    .circle{
        width: 50vw;
        height: 50vw;
    }
    .column-mobile{
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    #circle-blue-second{
        display: none;
    }
    #circle-blue-first{
        display: none;
    }
    #circle-brown-second{
        display: none;
    }
}