@import url('reset.css');
@import url('fonts.css');
body{
    width: 1920px;
}
section{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 1080px;
    background-color: yellow;
}
.div-jump-circle{
    align-self: stretch;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 100px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{
        color: blue;
        font-size: 48px;
        align-items: center;
    }
}
.circle{
    margin-bottom: -68px;
    z-index: 10;
    width: 166px;
    height: 166px;
    border-radius: 100%;
    background-color: blue;
    border: 4px solid #fff;
}
.oval{
    width: 250px;
    height: 136px;
    border-radius: 100%;
    background-color: blue;
}
/* h1{
    font-family: 'Kucheryavy';
    font-size: 112px;;
}
h2{
    font-family: "BebasNeueCyrillic";
    font-size: 96px;
}
h3{
    font-family: "FuturaDemi";
    font-size: 220px;
}
h4{
    font-family: "FuturaMedium";
    font-size: 80px;
} */